<!-- Need to use NVM 10.18.0-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Falcon Construction Database Page </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap 5.1.3 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- NEEDED FOR NAV BAR -->
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>

<body>
    <!--Navigation bar-->
    <div id="nav_bar"></div>
    <script>
        $(function () {
            $("#nav_bar").load("nav_bar.html");
        });
    </script>
    <!--End Navigation bar-->

    <div class="container" style="margin-top: 25px">
        <h4 style="text-align: center; margin-top:25px;">
            This page allow users to view/add/update/delete Employees at Falcon Construction.
        </h4>
    </div>

    <!-- ADD EMPLOYEE FORM -->
    <div class="container-fluid" style="margin-top:50px; margin-bottom: 50px;">
        <div class="card">
            <div class="card-body">
                <h4>Add a new Employee</h4>
                <form id="add-new-employee">
                    <div class="form-row">
                        <div class="col-md-5 mb-3">
                            <label for="employee_first_name">First name<sup>*</sup></label>
                            <input type="text" class="form-control" id="employee_first_name" name="employee_first_name"
                                required>
                        </div>
                        <div class="col-md-5 mb-3">
                            <label for="employee_last_name">Last name<sup>*</sup></label>
                            <input type="text" class="form-control" id="employee_last_name" name="employee_last_name"
                                required>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="employee_code">Employee Code<sup>*</sup></label>
                            <input type="text" class="form-control" id="employee_code" name="employee_code" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-8 mb-3">
                            <label for="employee_email">Email<sup>*</sup></label>
                            <input type="text" class="form-control" id="employee_email" name="employee_email" required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="employee_title">Title<sup>*</sup></label>
                            <select class="form-control" id="employee_title" name="employee_title" required>
                                <option hidden selected disabled value="">Select an employee title</option>
                                {{#each employee_titles}}
                                <option>{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-row text-center justify-content-center">
                        <button type="submit" class="btn btn-secondary" form="add-new-employee" formmethod="post"
                            formaction="/add-employee">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END ADD EMPLOYEE FORM -->

    <!-- UPDATE EMPLOYEE FORM -->
    <div class="container-fluid" style="margin-top:50px; margin-bottom: 50px;">
        <div class="card">
            <div class="card-body">
                <h4>Update an existing Employee's position</h4>
                <form id="update-employee-form" name="update_employee">
                    <div class="form-row justify-content-md-center">
                        <div class="col-md-5 mb-3">
                            <label for="employee_id"></label>
                            <select class="form-control" id="employee_id" name="employee_id" required>
                                <option selected>Select an existing employee</option>
                                {{#each all_employee_data}}
                                <option value="{{this.employee_id}}">{{this.employee_id}} - {{this.employee_first_name}} {{this.employee_last_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="employee_title_update"></label>
                            <select class="form-control" id="employee_title_update" name="employee_title_update" required>
                                <option selected disabled>Select an employee title</option>
                                {{#each employee_titles}}
                                <option>{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-row text-center justify-content-center">
                        <button type="submit" class="btn btn-secondary" form="update-employee-form" formmethod="post"
                            formaction="/update-employee">Submit Changes</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END UPDATE EMPLOYEE FORM -->

    <!-- EMPLOYEES table -->
    <div class="container-fluid">
        <div class="card text-center">
            <div class="card-header font-weight-bold text-uppercase py-4" style="font-size: 26px">Employees Table</div>
            <div class="card-body">
                <table class="table table-bordered table-responsive-md table-striped text-center">
                    <thead>
                        <tr>
                            <th class="text-center">Employee ID</th>
                            <th class="text-center">Employee Code</th>
                            <th class="text-center">First Name</th>
                            <th class="text-center">Last Name</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Job Title</th>
                            <th class="text-center">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each all_employee_data}}
                        <tr>
                            <td class="pt-3-half">{{this.employee_id}}</td>
                            <td class="pt-3-half">{{this.employee_code}}</td>
                            <td class="pt-3-half">{{this.employee_first_name}}</td>
                            <td class="pt-3-half">{{this.employee_last_name}}</td>
                            <td class="pt-3-half">{{this.employee_email}}</td>
                            <td class="pt-3-half">{{this.employee_job_title}}</td>
                            <td>
                                <form id='delete-employee' method='POST' action='/delete-employee'>
                                    <button class="btn btn-dark btn-sm my-0" name="delete_employee_id"
                                            id="delete_employee_id" value="{{this.employee_id}}">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- End EMPLOYEES table -->

    <!-- FOOTER -->
    <div id="footer"></div>
    <script>
        $(function () {
            $("#footer").load("footer.html");
        });

        $(document).ready(function () {
            $("a[href='" + window.location.href + "']").addClass("active");
        });
    </script>
    <!-- END FOOTER -->

</body>

</html>