<!-- Need to use NVM 10.18.0-->
<!Doctype>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Falcon Construction Database Page </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap 5.1.3 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- NEEDED FOR NAV BAR -->
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
    <!--Navigation bar-->
    <div id="nav_bar"></div>
    <script>
        $(function () {
            $("#nav_bar").load("nav_bar.html");
        });
    </script>
    <!--End Navigation bar-->

    <!-- FORM -->
    <div class="container-fluid" style="margin-top:50px; margin-bottom: 50px;">
        <div class="card">
            <div class="card-header font-weight-bold text-uppercase py-4 text-center" style="font-size: 26px"> Search
                for Employees Working on Jobs </div>
            <div class="card-body">
                <form id="search-for-relationship" name="search_for_relationship">
                    <div class="form-row">
                        <div class="col-md-8 mb-3">
                            <label for="job_id"></label>
                            <select class="form-control" id="job_id" name="job_id" required>
                                <option hidden disabled selected value="">Select an existing job</option>
                                <option value="ALL">View All</option>
                                {{#each job_data}}
                                    <option value={{this.job_id}}>{{this.job_id}} - {{this.job_info}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-row text-center justify-content-center">
                        <a href="/"><button type="submit" class="btn btn-secondary" form="search-for-relationship">Submit</button></a>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <h3 class="text-center" style="margin-top: 40px;">Search Results</h3>
                <table class="table table-bordered table-responsive-md table-striped text-center">
                    <thead>
                        <tr>
                            <th class="text-center">Job_Employee ID</th>
                            <th class="text-center">Job ID</th>
                            <th class="text-center">Job Description</th>
                            <th class="text-center">Employee ID</th>
                            <th class="text-center">Employee Name</th>
                            <th class="text-center">Employee Title</th>
                            <th class="text-center">Category ID</th>
                            <th class="text-center">Category Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each job_employee_search_data}}
                        <tr>
                            <td class="pt-3-half">{{this.job_employee_id}}</td>
                            <td class="pt-3-half">{{this.job_id}}</td>
                            <td class="pt-3-half">{{this.job_description}}</td>
                            <td class="pt-3-half">{{this.employee_id}}</td>
                            <td class="pt-3-half">{{this.name}}</td>
                            <td class="pt-3-half">{{this.title}}</td>
                            <td class="pt-3-half">{{this.category_id}}</td>
                            <td class="pt-3-half">{{this.category_name}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END FORM -->

    <!-- Button Row -->
    <div class="container text-center" style="margin-top:25px;">
        <a href="/job_employees" class="btn btn-primary"> Back to Job_Employees Table</a>
    </div>
    <!-- Button Row -->

    <!-- FOOTER -->
    <div id="footer"></div>
    <script>
        $(function () {
            $("#footer").load("footer.html");
        });

        $(document).ready(function () {
            $("a[href='" + window.location.href + "']").addClass("active");
        });
    </script>
    <!-- END FOOTER -->

</body>
</html>