<!DOCTYPE>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Falcon Construction Database Page </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap 5.1.3 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- NEEDED FOR NAV BAR -->

</head>

<body>
    <br>

    <div class="card">
        <div class="card-body">

            <h4>Update Job# {{job.id}}</h4>
            <form id="update-job" action="/jobs" method="post">
                <div class="col-md-5 mb-3">
                    Customer ID: <input type="text" name="customer_id" value="{{job.fk_customer_id}}">
                    {{job.customer_name}}
                </div>
                <div class="col-md-5 mb-3">
                    Category ID: <input type="text" name="category_id" value="{{job.fk_category_id}}">
                    {{job.category_name}}
                </div>
                <div class="col-md-5 mb-3">
                    Job Code: <input type="text" name="job_code" value="{{job.job_code}}">
                </div>
                <div class="col-md-10 mb-3">
                    Start Date: <input type="text" name="job_start_date" value="{{job.job_start_date}}"><br>
                </div>
                <div class="col-md-10 mb-3">
                    End Date: <input type="text" name="job_end_date" value="{{job.job_end_date}}"><br>
                </div>
                <div class="col-md-10 mb-3">
                    Job Description: <input type="text" name="job_description" value="{{job.job_description}}"><br>
                </div>
                <div class="col-md-10 mb-3">
                    Job Status: <input type="text" name="job_status" value="{{job.job_status}}"><br>
                </div>

                <button class="btn btn-dark btn-sm my-0" onclick="updateJob({{job.id}})">Update</button>
            </form>
        </div>
    </div>
</body>

</html>